@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-syne: 'Syne', sans-serif;
  
  /* Override screen sizes to use dynamic viewport units */
  --size-screen: 100dvw;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Syne';
  src: url('..//fonts/Syne.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.font-Syne {
  font-family: 'Syne', sans-serif;
}


@layer utilities {
  .h-screen {
    height: 100dvh;
  }
  
  .w-screen {
    width: 100dvw;
  }
  
  .min-h-screen {
    min-height: 100dvh;
  }
  
  .max-h-screen {
    max-height: 100dvh;
  }
}

@media (max-width: 400px) and (max-height: 700px) {
  img{
    scale: 0.8;
  }

  .track-title {
    font-size: 14px;
  }
}